
var formatStartTime = function (str) {
  if (str == undefined) return
  return str.replace(":00+08:00", "").replace("T", "  ")
}

var formatLocation = function (str) {
  if (str == undefined) return
  return str.replace("||", "  ")
}

var calcJoinedNum = function (arr) {
  if (arr == undefined) return
  return arr.length
}

module.exports = {
  formatLocation: formatLocation,
  formatStartTime: formatStartTime,
  calcJoinedNum:calcJoinedNum
}