var formatDateTime = function (start, end) {
  if (start && end) {
    var start = start.replace(":00+08:00", "").replace("T", "  ")
    var end = end.replace(":00+08:00", "").split("T")[1]
    return start + " - " + end
  }
}

var formatLocation = function (str) {
  if (str) {
    return str.replace("||", "  ")
  }
}

var formatPrice = function (str) {
  if (str) {
    var idx = parseInt(str[0])
    return ['免费', '约10元', '约20元', '约30元'][idx]
  }
}

var isEnterMatch = function (isMyMatch, status) {
  if (status > 1) {
    return '报名已结束'
  }
  if (isMyMatch) {
    return '已报名'
  } else {
    return '立即报名'
  }
  // if (!users || !id) return ''
  // var isJoined = '立即报名';
  // for (var i = 0; i < users.length; i += 1) {
  //   if (users[i].id === id) {
  //     isJoined = '已报名';
  //     break;
  //   }
  // }
  // return isJoined;
}

module.exports = {
  formatLocation: formatLocation,
  formatDateTime: formatDateTime,
  isEnterMatch: isEnterMatch,
  formatPrice: formatPrice
}