
var formatTime = function (str) {
  if (str) return str.replace(":00+08:00", "").replace("T", "  ")

}

var formatLocation = function (str) {
  if (str) return str.split("/")[1].replace("||", "  ")
}

var calcJoinedNum = function (arr) {
  if (arr) return arr.length
}



module.exports = {
  formatLocation: formatLocation,
  formatTime: formatTime,
  calcJoinedNum: calcJoinedNum
}