var handleFiles = function (files) {
  if (!files) return []
  var imageURLs = []
  for (var i = 0; i < files.length; i++) {
    if (files[i].imgURL) {
      var item = {
        url: files[i].imgURL,
        isImage: true,
      }
      imageURLs.push(item)
    }
  }

  return imageURLs
}

module.exports = {
  handleFiles: handleFiles
}